@model IEnumerable<WebButik.Models.Product>

@{
    ViewBag.Title = "MenProduct";
}

<h2>MenProduct</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSize)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.ProductType == "Men")
        {
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSize)
        </td>
        <td>
           @* @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |*@
            @Html.ActionLink("AddToCart", "AddCart", "Customer", new { id = item.ProductId }) |
          @*  @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })*@
        </td>

        }
    </tr>
}

</table>
